@import '_keyframes.scss';

//  ============================ HERO SECTION =============================== //

.hero-section {
    background-color: $brand-yellow-70;
    position: relative;
    // overflow: hidden;
    padding-top: 1.2rem;
    padding-bottom: 4.6rem;
}

.info-hero-section {
    padding-top: 12rem;
    padding-bottom: 10.2rem;
    h1 {
        font-size: 6.2rem;
        color: $brand-blue-primary;
        line-height: 120%;
        max-width: 728px;
        margin-bottom: 2rem;
        font-weight: $bold;
    }
    p {
        font-weight: $regular;
        color: $brand-gray-primary;
        font-size: 2.4rem;
        line-height: 120%;
        max-width: 624px;
        margin-bottom: 4rem;
    }
    z-index: 5;
}

.info-options-container {
    display: flex;
    .info-form-content {
        z-index: 5;
        background-color: $brand-white;
        border-radius: 10px;
        padding: 2rem 3.8rem 2rem 0;
        .option {
            display: flex;
            flex-direction: column;
            padding-left: 3.2rem;
            &:nth-child(1) {
                padding-right: 3.5rem;
                border-right: 1px solid $brand-gray-secondary;
            }
            &:nth-child(2) {
                padding-right: 6.8rem;
                border-right: 1px solid $brand-gray-secondary;
            }
            &:nth-child(3) {
                padding-right: 2.8rem;
            }
            label {
                margin-bottom: 2rem;
                font-size: 1.4rem;
                text-transform: uppercase;
                color: $brand-blue-primary;
                font-weight: $bold;
            }
            select {
                border: none;
                outline: none;
                margin-left: -3px;
                color: $brand-gray-secondary;
                cursor: pointer;
            }
        }
        .btn-reserv {
            background: $brand-blue-primary;
            outline: none;
            border: 1px solid $brand-blue-primary;
            padding: 1rem 3.8rem;
            // height: 45px;
            color: $brand-white;
            border-radius: 7px;
            transition: 0.3s linear;
            &:hover {
                background: transparent;
                border: 1px solid $brand-blue-primary;
                color: $brand-black;
            }
        }
    }
}

.scroll-bottom {
    margin: auto;
    display: flex;
    cursor: pointer;
    transition: 0.3s ease;
    &:hover {
        transform: scale(1.5);
    }
}

.slider-images {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    max-width: 900px;
    .swiper {
        width: 100%;
        height: 100%;

        .swiper-slide {
            display: flex;
            .swiper-slide {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .swiper-pagination-bullet-active {
        background: $brand-white;
    }
    .img-width {
        width: 100%;
        height: 100%;
    }
}

// ============================== VIAGENS RECENTES =========================== //

.recent-trips-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 7.6rem;

    .trips-item-content {
        display: flex;
        background-color: $brand-blue-primary;
        align-items: center;
        padding: 0.2rem 0 0.2rem 0.2rem;
        border: 2px solid $brand-blue-primary;
        border-radius: 50px;
        width: 24.9rem;
        max-width: 100%;
        transition: 0.3s ease;

        &:hover,
        &:focus {
            cursor: pointer;
            background-color: $brand-white;
        }
        p {
            text-align: center;
            width: 100%;
            color: $brand-white;
            &:hover {
                color: $brand-black;
            }
        }
    }
}

// ============================= DESTINOS ================================= //

.destiny-container {
    padding-top: 12rem;
    h2 {
        font-size: 4rem;
        line-height: 120%;
        color: $brand-blue-primary;
    }
    .destiny-subtitle {
        font-size: 2.4rem;
        color: $brand-gray-primary;
        padding-top: 2rem;
        line-height: 120%;
    }
    .destiny-box-content {
        padding-top: 6rem;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .destiny-box-item {
        // width: 100%;
        position: relative;
        overflow: hidden !important;

        .overlay {
            background-color: #000;
            width: 100%;
            position: absolute;
            height: 100%;
            border-radius: 10px;
            opacity: 0.5;
        }

        img {
            width: 100%;
            max-width: 58.4rem;
            height: 100%;
            border-radius: 10px;
        }
        .destiny-info {
            position: absolute;
            bottom: 2.7rem;
            left: 3.2rem;
            right: auto;
            h4 {
                font-size: 2.4rem;
                color: $brand-white;
                line-height: 120%;
                font-weight: $bold;
            }
            p {
                padding-top: 1rem;
                color: $brand-gray;
                line-height: 150%;
                font-weight: $regular;
                font-size: 1.6rem;
            }
            a {
                color: $brand-white;
                text-decoration: none;
                display: block;
                margin-top: 2rem;
                line-height: 150%;
                padding: 0.8rem 2.4rem;
                border: 2px solid $brand-blue-primary;
                background-color: $brand-blue-primary;
                width: 100%;
                max-width: 14.4rem;
                border-radius: 8px;
                text-align: center;
                transition: 0.3s ease;
                &:hover {
                    background-color: transparent;
                }
            }
        }
    }
}
