//  ============================ IMPORT HEADER =============================== //

@import "_header";

//  ============================ HERO SECTION =============================== //

.hero-section {
    background-color: $brand-yellow-70;
    position: relative;
    // overflow: hidden;
    padding-top: 5.6rem;
    padding-bottom: 5.6rem;
}

.info-hero-section {
    padding-top: 12rem;
    padding-bottom: 10.2rem;
    h1 {
        font-size: 4.8rem;
        color: $brand-blue-primary;
        line-height: 120%;
        max-width: 72.8rem;
        margin-bottom: 2rem;
        font-weight: $bold;
    }
    p {
        font-weight: $regular;
        color: $brand-gray-primary;
        font-size: 1.6rem;
        line-height: 120%;
        max-width: 62.4rem;
        margin-bottom: 4rem;
    }
    z-index: 5;
}

.info-options-container {
    display: flex;
    .info-form-content {
        z-index: 5;
        background-color: $brand-white;
        border-radius: 10px;
        padding: 2rem 3.8rem 2rem 0;
        .option {
            display: flex;
            flex-direction: column;
            padding-left: 3.2rem;
            &:nth-child(1) {
                padding-right: 3.5rem;
                border-right: 1px solid $brand-gray-secondary;
            }
            &:nth-child(2) {
                padding-right: 6.8rem;
                border-right: 1px solid $brand-gray-secondary;
            }
            &:nth-child(3) {
                padding-right: 2.8rem;
            }
            label {
                margin-bottom: 2rem;
                font-size: 1.4rem;
                text-transform: uppercase;
                color: $brand-blue-primary;
                font-weight: $bold;
            }
            select {
                border: none;
                outline: none;
                margin-left: -0.3rem;
                color: $brand-gray-secondary;
                cursor: pointer;
            }
        }
        .btn-reserv {
            background: $brand-blue-primary;
            outline: none;
            border: 2px solid $brand-blue-primary;
            padding: 0.8rem 3.6rem;
            color: $brand-white;
            border-radius: 7px;
            transition: 0.3s linear;
            &:hover {
                background: transparent;
                border: 2px solid $brand-blue-primary;
                color: $brand-black;
            }
        }
    }
}

.scroll-bottom {
    margin: 0 auto;
    display: flex;
    cursor: pointer;
    transition: 0.3s ease;
    justify-content: center;
    width: 100%;
    &:hover {
        transform: scale(1.5);
    }
}

.slider-images {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    max-width: 90rem;
    .swiper {
        width: 100%;
        height: 100%;

        .swiper-slide {
            display: flex;
            .swiper-slide {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .swiper-pagination-bullet-active {
        background: $brand-white;
    }
    .img-width {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// ============================== VIAGENS RECENTES =========================== //

.recent-trips-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 7.6rem;

    .trips-item-content {
        display: flex;
        background-color: $brand-blue-primary;
        align-items: center;
        padding: 0.2rem 0 0.2rem 0.2rem;
        border: 2px solid $brand-blue-primary;
        border-radius: 50px;
        width: 24.9rem;
        max-width: 100%;
        transition: 0.3s ease;

        &:hover {
            cursor: pointer;
            background-color: transparent;
            p {
                color: $brand-black;
            }
        }
        p {
            text-align: center;
            width: 100%;
            color: $brand-white;
        }
    }
}

// ============================= DESTINOS ================================= //

.destiny-container {
    padding-top: 12rem;
    padding-bottom: 12rem;
    h2 {
        font-size: 4rem;
        line-height: 120%;
        color: $brand-blue-primary;
    }
    .destiny-subtitle {
        font-size: 2.4rem;
        color: $brand-gray-primary;
        padding-top: 2rem;
        line-height: 120%;
    }
    .destiny-box-content {
        padding-top: 6rem;
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 3.2rem;
    }
    .destiny-box-item {
        // width: 100%;
        position: relative;
        overflow: hidden !important;

        .overlay {
            background-color: #000;
            width: 100%;
            position: absolute;
            height: 100%;
            border-radius: 10px;
            opacity: 0.5;
        }

        img {
            width: 100%;
            max-width: 58.4rem;
            height: 100%;
            border-radius: 10px;
        }
        .destiny-info {
            position: absolute;
            bottom: 2.7rem;
            left: 3.2rem;
            right: auto;
            h4 {
                font-size: 2.4rem;
                color: $brand-white;
                line-height: 120%;
                font-weight: $bold;
            }
            p {
                padding-top: 1rem;
                color: $brand-gray;
                line-height: 150%;
                font-weight: $regular;
                font-size: 1.6rem;
            }
            a {
                color: $brand-white;
                text-decoration: none;
                display: block;
                margin-top: 2rem;
                line-height: 150%;
                padding: 0.8rem 2.4rem;
                border: 2px solid $brand-blue-primary;
                background-color: $brand-blue-primary;
                width: 100%;
                max-width: 14.4rem;
                border-radius: 8px;
                text-align: center;
                transition: 0.3s ease;
                &:hover {
                    background-color: transparent;
                }
            }
        }
    }
}

//  ============================= PASSEIOS ================================ //

.tours {
    background-color: #f2f5fc;
    padding-top: 12rem;
    padding-bottom: 12rem;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .tours-slide-container {
        width: 100%;
        max-width: 78rem;
    }

    .tours-content {
        .tours-title {
            color: $brand-blue-primary;
            font-size: 3.2rem;
            font-weight: $bold;
            line-height: 120%;
        }
        .tours-subtitle {
            padding-top: 2rem;
            color: $brand-gray-primary;
            font-size: 1.6rem;
            font-weight: $bold;
            line-height: 120%;
        }
        .tours-box-slide {
            display: flex;
            padding-top: 4rem;
            gap: 2.4rem;
            cursor: pointer;

            .tours-card-item {
                border-radius: 8px;
                overflow: hidden;
                background-color: $brand-white;
            }
            .swiper-button-next:after,
            .swiper-button-prev:after {
                font-family: swiper-icons;
                font-size: 1.6rem;
                text-transform: none !important;
                letter-spacing: 0;
                text-transform: none;
                font-variant: initial;
                font-weight: bold;
                line-height: 1;
            }
            .tours-content-img {
                position: relative;
                img {
                    width: 100%;
                    max-width: 100%;
                    height: 100%;
                }
                p {
                    display: block;
                    position: absolute;
                    bottom: 0.3rem;
                    right: 0;
                    line-height: 120%;
                    font-size: 1.4rem;
                    color: $brand-white;
                    background-color: rgba(0, 0, 0, 0.5);
                    padding: 0.6rem 1.3rem;
                    border-radius: 8px 0 0 0;
                }
            }
            .tours-container__info {
                display: flex;
                flex-direction: column;
                // max-height: 21.9rem;
                // height: 100%;
                justify-content: space-between;
                width: 100%;
                .tours-content-info {
                    padding-left: 2rem;
                    padding-right: 2rem;
                    width: 100%;
                    height: 18rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h4 {
                        padding-top: 1.6rem;
                        font-size: 1.8rem;
                        line-height: 120%;
                        font-weight: $bold;

                        color: $brand-blue-primary;
                        width: 100%;
                    }
                    .tours-content-description {
                        font-size: 1.4rem;
                        line-height: 150%;
                        font-weight: $bold;
                        color: $brand-gray-primary;
                    }
                    .t-location-container {
                        padding-top: 1rem;
                        display: flex;
                        gap: 3.2rem;
                        span {
                            font-size: 1.6rem;
                            color: $brand-gray-primary;
                            font-weight: $bold;
                            line-height: 120%;
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;
                            i {
                                color: $brand-black;
                            }
                        }
                    }
                }
                .t-price-btn {
                    padding: 2rem 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    ul {
                        display: flex;
                        flex-direction: column;
                        list-style: none;
                        :nth-child(1) {
                            font-size: 1.7rem;
                            font-weight: $bold;
                            line-height: 120%;
                        }
                        :nth-child(2) {
                            &::before {
                                content: "*";
                            }
                            font-size: 1.2rem;
                            color: $brand-gray-primary;
                            line-height: 120%;
                            font-weight: $bold;
                        }
                    }
                    a {
                        text-decoration: none;
                        color: $brand-white;
                        background-color: $brand-blue-primary;
                        padding: 0.7rem 2rem;
                        font-size: 1.4rem;
                        border: 2px solid $brand-blue-primary;
                        border-radius: 5px;
                        transition: 0.3s ease;
                        &:hover {
                            background-color: transparent;
                            color: $brand-black;
                        }
                    }
                }
            }
        }

        .btn-ver-todos {
            display: block;
            text-decoration: none;
            margin-top: 6rem;
            color: $brand-black;
            line-height: 120%;
            font-size: 1.6rem;
            padding: 1.3rem 3rem;
            border: 2px solid $brand-blue-primary;
            border-radius: 8px;
            max-width: 14rem;
            width: 100%;
            text-align: center;
            transition: 0.3s ease;
            &:hover {
                background-color: $brand-blue-primary;
                color: $brand-white;
            }
        }
    }

    .tours-content-video {
        position: relative;
        right: -6%;
        display: flex;
        cursor: pointer;
        .thumb-video {
            box-sizing: border-box;
            max-width: 49rem;
            height: 100%;
            border-radius: 10px;
            box-shadow: -15px -15px 0px -2px $brand-yellow-70;
        }
        .tours-overlay {
            background-color: black;
            opacity: 0.5;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 10px;
        }
        svg {
            position: absolute;
            right: 50%;
            top: 50%;
            transform: translate(50%, -50%);
        }
    }
}

//  ============================== COMPARTILHE =============================== //

.share {
    .share-container {
        display: flex;
        justify-content: center;
        gap: 10.9rem;
        padding-top: 12rem;
        padding-bottom: 7.4rem;
        // align-items: center;
        .share-content {
            h3 {
                padding-top: 4.6rem;
                color: $brand-blue-primary;
                font-size: 3.2rem;
                line-height: 120%;
                font-weight: $bold;
            }
            h5 {
                color: $brand-gray-primary;
                font-size: 2rem;
                line-height: 120%;
                font-weight: $regular;
                padding-top: 2rem;
            }
            :nth-child(3) {
                padding-top: 4rem;
            }
            :nth-child(4) {
                padding-top: 2.4rem;
            }
            p {
                font-size: 1.6rem;
                line-height: 150%;
                max-width: 52.1rem;
                color: $brand-gray-primary;
            }
        }
    }
}

// ================================== IMPORT NEWSLETTER ================================== //
@import "_newsletter";
// ================================== IMPORT FOOTER ================================== //
@import "_footer";

// ================================== MEDIA QUERIES - HOME =============================== //
@import "_mixins";
.modal-container {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    cursor: unset;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.294);
    z-index: 9999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    .modal-overlay {
        width: 90%;
        background-color: $brand-white;
        height: 90%;
        margin: 0 auto;
        position: relative;
        border-radius: 8px;

        div {
            border-radius: 8px;
            overflow: hidden;
            height: 100%;
        }
        i {
            position: absolute;
            right: -1rem;
            top: -1rem;
            padding: 0.9rem 1.2rem;
            background-color: $brand-blue-primary;
            color: $brand-white;
            border-radius: 50%;
            font-size: 2.4rem;
        }
    }
}
.modal-container.active-modal {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}

@include responsive(1366px) {
    .tours {
        .tours-slide-container {
            width: 100%;
            max-width: 62rem;
        }
        .tours-content-video {
            position: relative;
            right: 0;
            display: flex;
        }
    }
}

@include responsive(1150px) {
    .tours {
        .tours-slide-container {
            width: 100%;
            max-width: 55rem;
        }
        .tours-content-video {
            position: relative;
            right: 0;
            display: flex;
        }
    }
}

@include responsive(1120px) {
    .tours {
        .tours-slide-container {
            width: 100%;
            max-width: 35rem;
        }
        .container {
            // display: flex;
            justify-content: center;
            gap: 6.2rem;
        }
        .tours-content-video {
            position: relative;
            right: 0;
            display: flex;
        }
    }

    .slider-images {
        position: static;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        max-width: none;
        padding-bottom: 3.2rem;
    }
    .scroll-bottom-container {
        padding: 1.6rem 2.4rem;
    }
}

@include responsive(990px) {
    .destiny-container {
        .destiny-box-content {
            flex-direction: column;
        }

        .destiny-box-item {
            display: flex;
            img {
                max-width: 100%;
                height: 31rem;
            }
        }
    }

    .tours {
        .tours-slide-container {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .tours-box-slide {
            max-width: 85rem;
            width: 100%;
        }
        .container {
            flex-direction: column;
            justify-content: center;
            gap: 6.2rem;
        }
        .tours-content-video {
            position: relative;
            right: 0;
            display: flex;
            max-width: 90%;
            .thumb-video {
                max-width: 100%;
            }
        }
    }
    .share {
        .share-container {
            gap: 3.2rem;
            flex-direction: column;
            img {
                max-width: 47.9rem;
                display: flex;
                order: 2;
                width: 100%;
                margin: 0 auto;
            }
            .share-content {
                p {
                    max-width: 100%;
                }
            }
        }
    }
}

@include responsive(915px) {
    .info-options-container {
        .info-form-content {
            flex-direction: column;
            width: 100%;
            align-items: center;
            display: flex;
            padding: 3.2rem 3.2rem;
            gap: 4.8rem;

            .option:nth-child(1),
            .option:nth-child(2),
            .option:nth-child(3) {
                padding: 0;
                border: none;
                display: flex;
                align-items: center;
            }
        }
    }
    .share {
        .share-container {
            img {
                max-width: 47.9rem;
            }
            gap: 3.2rem;
        }
    }
}

@include responsive(768px) {
    .info-hero-section {
        padding-top: 3.2rem;
        h1 {
            text-align: center;
            font-size: 3.2rem;
        }
        p {
            font-size: 1.6rem;
            text-align: center;
        }
    }
    .info-options-container {
        .info-form-content {
            gap: 3.2rem;
        }
    }
    .destiny-container {
        h2 {
            font-size: 3.2rem;
            line-height: 120%;
            color: #0842b0;
        }
        .destiny-subtitle {
            font-size: 1.6rem;
        }
        .destiny-container {
            .destiny-box-item {
                .destiny-info {
                    h4 {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
    .tours {
        .tours-slide-container {
            width: 100%;
            max-width: none;

            .tours-box-slide {
                max-width: 62rem;
            }
        }
        .container {
            // display: flex;
            justify-content: center;
            gap: 6.2rem;
        }
        .tours-content-video {
            display: none;
        }
    }
    .txt-center {
        text-align: center;
    }
}

@include responsive(660px) {
    .tours {
        .tours-slide-container {
            .tours-box-slide {
                max-width: 49rem;
            }
        }
    }
}

@include responsive(530px) {
    .tours {
        .tours-slide-container {
            .tours-box-slide {
                max-width: 35rem;
            }
        }
    }
}

@include responsive(415px) {
    .tours {
        .container {
            padding-left: 1.5rem;
            padding-right: 0;
        }
        .tours-slide-container {
            .tours-box-slide {
                max-width: 40rem;
            }
        }
    }
}

@include responsive(390px) {
    .info-hero-section {
        padding-top: 3.2rem;
        h1 {
            font-size: 3.2rem;
            text-align: center;
        }
        p {
            text-align: center;
        }
    }

    .info-options-container {
        .info-form-content {
            // flex-direction: column;
            // width: 100%;
            // align-items: center;
            // display: flex;
            // padding: 3.2rem 3.2rem;
            gap: 3.2rem;
        }
    }
    .destiny-container {
        h2 {
            font-size: 3.2rem;
            line-height: 120%;
            color: #0842b0;
        }
        .destiny-subtitle {
            font-size: 1.6rem;
        }
        .destiny-container {
            .destiny-box-item {
                .destiny-info {
                    h4 {
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    .tours {
        .container {
            padding-left: 1.5rem;
            padding-right: 0;
        }
        .tours-slide-container {
            .tours-box-slide {
                max-width: 36rem;
                .tours-content-img {
                    img {
                        width: 100%;
                        max-width: none;
                    }
                }
                .tours-container__info {
                    width: 100%;
                }
            }
        }
        .tours-content-video {
            svg {
                width: 100%;
                max-width: 6rem;
            }
        }
    }
}
@include responsive(365px) {
    .tours {
        .container {
            padding-left: 1.5rem;
            padding-right: 0;
        }
        .tours-slide-container {
            width: 100%;
            .tours-box-slide {
                max-width: 35rem;
                .tours-content-img {
                    img {
                        width: 100%;
                        max-width: none;
                    }
                }
                .tours-container__info {
                    width: 100%;
                }
            }
        }
    }
}

@include responsive(320px) {
    .tours {
        .container {
            padding-left: 1.5rem;
            padding-right: 0;
        }
        .tours-slide-container {
            .tours-box-slide {
                max-width: 31rem;
            }
        }
    }
}
@include responsive(768px) {
    .modal-container {
        .modal-overlay {
            height: 100%;
            max-height: 320px;
        }
    }
}
