@import "_mixins";
// =============================== NEWSLETTER =============================== //

.newsletter {
    .newsletter-container {
        background-color: $brand-yellow-70;
        border-radius: 25px;
        padding: 9.4rem 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        h3 {
            font-size: 4rem;
            line-height: 120%;
            max-width: 80rem;
            width: 100%;
            text-align: center;
        }
        p {
            font-size: 2.4rem;
            color: $brand-gray-secondary;
            padding-top: 2rem;
        }

        form {
            max-width: 80rem;
            width: 100%;
            display: flex;
            padding-top: 4rem;
            height: 100%;
            input {
                width: 100%;
                font-size: 1.6rem;
                color: $brand-gray-primary;
                padding: 1.6rem 0 1.6rem 3.2rem;
                border: none;
                border-radius: 8px 0 0 8px;
                outline: none;
            }
            button {
                width: 100%;
                max-width: 23.181rem;
                border: 2px solid $brand-blue-primary;
                border-radius: 0 8px 8px 0;
                color: $brand-white;
                background-color: $brand-blue-primary;
                font-size: 1.6rem;
                cursor: pointer;
                transition: 0.3s ease;
                &:hover {
                    border: 2px solid $brand-blue-primary;
                    background-color: transparent;
                    color: $brand-black;
                }
            }
        }
    }
}

// ============================= MEDIAS NEWSLETTER ========================= //

@include responsive(915px) {
    .newsletter {
        .newsletter-container {
            padding: 9.4rem 2.4rem;
            h3 {
                font-size: 3.2rem;
            }
            p {
                font-size: 1.6rem;
            }
            form {
                flex-direction: column;
                gap: 3.2rem;
                input {
                    padding: 1.6rem 2.4rem;
                    border-radius: 8px;
                    max-width: 40rem;
                    margin: 0 auto;
                    width: 100%;
                }
                button {
                    padding: 1.4rem 2.4rem;
                    margin: 0 auto;
                    width: 100%;
                    max-width: 40rem;
                    border-radius: 8px;
                }
            }
        }
    }
}

@include responsive(390px) {
    .newsletter {
        .newsletter-container {
            padding: 4.8rem 2.4rem;
            form {
                input {
                    width: 100%;
                    font-size: 1.2rem;
                }
            }
        }
    }
}
