@import "_mixins";
//  ============================ IMPORT HEADER =============================== //

@import "_header";

.bg-top-section {
    background: rgba(0, 0, 0, 0.7) url("../img/bg-passeios.jpg") no-repeat center;
    background-size: cover;
    padding: 10rem 0;
    .container {
        h1 {
            font-size: 4.8rem;
            line-height: 120%;
            font-weight: $bold;
            color: $brand-white;
            text-align: center;
        }
        p {
            font-size: 2.4rem;
            line-height: 120%;
            font-weight: $regular;
            color: $brand-white;
            margin: 0 auto;
            text-align: center;
        }
    }
}

.br-container-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12rem;
    padding-bottom: 12rem;
    .br-title-container {
        display: flex;
        flex-direction: column;
        h2 {
            font-size: 3.2rem;
            line-height: 120%;
            font-weight: $bold;
        }
        span {
            font-size: 1.6rem;
            line-height: 120%;
            font-weight: $regular;
            color: $brand-gray-primary;
        }
    }
    .br-search-container {
        padding: 1.6rem;
        background-color: $brand-gray;
        border-radius: 5px;
        #search {
            padding-right: 1rem;
            background: none;
            font-size: 1.6rem;
        }
    }
}
.br-passeios-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3.2rem;
    justify-items: center;
    grid-auto-flow: row;
}
.br-passeios-card {
    border-radius: 8px;
    max-width: 38.4rem;
    overflow: hidden;
    box-sizing: border-box;
    filter: drop-shadow(0px 2px 40px rgba(119, 119, 119, 0.25));

    .br-passeios-img-content {
        position: relative;
        img {
            width: 100%;
            max-width: 38.4rem;
            height: 100%;
            display: flex;
        }
        .value-content {
            position: absolute;
            right: 0;
            bottom: 0;
            display: flex;
            left: auto;
            padding: 0.5rem 1.3rem;
            display: flex;
            flex-direction: column;
            background-color: $brand-blue-primary;
            color: $brand-white;
            :nth-child(1) {
                font-size: 1.2rem;
            }
            :last-child {
                font-weight: $bold;
                &::before {
                    content: "R$";
                    font-size: 1.2rem;
                }
                font-size: 2.4rem;
            }
        }
    }
    .br-passeios-content-card {
        padding: 2rem 3.2rem;
        background-color: $brand-blue-secondary;

        h3 {
            text-align: center;
        }
        .br-passeios__s-l {
            padding-top: 1.5rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            span {
                font-size: 1.6rem;
                display: flex;
                gap: 0.5rem;
                align-items: baseline;
                line-height: 150%;
                font-weight: $bold;
                color: $brand-gray-primary;
            }
        }
        p {
            padding-top: 1.5rem;
            font-size: 1.6rem;
            word-break: break-all;
            font-weight: $bold;
            color: $brand-gray-primary;
        }
        .br-passeios-btns {
            display: flex;
            justify-content: space-between;
            padding-top: 2.4rem;
            .br-btn-primario {
                font-size: 1.6rem;
                background-color: $brand-yellow-70;
                color: $brand-black;
                line-height: 120%;
                padding: 1.1rem 2.4rem 1.3rem 2.4rem;
                border: 2px solid $brand-yellow-70;
                border-radius: 5px;
                font-weight: $bold;
                transition: 0.3s ease;
                &:hover {
                    background-color: transparent;
                }
            }
            .br-btn-secundario {
                font-size: 1.6rem;
                background-color: transparent;
                color: $brand-black;
                line-height: 120%;
                padding: 1.1rem 2.4rem 1.3rem 2.4rem;
                border: 2px solid $brand-blue-primary;
                border-radius: 5px;
                font-weight: $bold;
                transition: 0.3s ease;
                &:hover {
                    background-color: transparent;
                    background-color: $brand-blue-primary;
                    color: $brand-white;
                }
            }
        }
    }
}
.pagination {
    ul {
        display: flex;
        list-style: none;
        gap: 1rem;
        padding-top: 7.4rem;
        padding-bottom: 12rem;
        li {
            padding: 1rem 1.5rem;
            border: 1px solid $brand-black;
            border-radius: 5px;
            a {
                color: $brand-black;
            }
            transition: 0.5s ease;
            &:hover {
                border: 1px solid $brand-white;
                background-color: $brand-blue-primary;
                cursor: pointer;
                a {
                    color: $brand-white;
                }
            }
        }
        :first-child {
            cursor: pointer;
            &:hover {
                i {
                    color: $brand-white;
                }
            }
        }
        :last-child {
            cursor: pointer;
            &:hover {
                i {
                    color: $brand-white;
                }
            }
        }
    }
}

// ================================== IMPORT FOOTER ================================== //
@import "_footer";
