@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}

body {
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 127.8rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

header {
  padding: 1.2rem 0;
}

header .brand-transfer {
  width: 100%;
  max-width: 27.5rem;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-flex ul {
  list-style: none;
  gap: 2rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 400;
  margin-right: 8.9rem;
  margin-left: 19.9rem;
}

.d-flex ul li a {
  text-decoration: none;
  color: #000;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.d-flex ul li a:hover {
  color: #0842b0;
}

.btn {
  font-size: 1.6rem;
  max-width: 100%;
  line-height: 150%;
  cursor: pointer;
}

.btn-primary {
  border: none;
  background: #0842b0;
  color: #fff;
  border-radius: 0.8rem;
  margin-right: 7.9rem;
  padding: 0.8rem 2.5rem;
  border: 2px solid #0842b0;
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.btn-primary:hover {
  background: transparent;
  border: 2px solid #0842b0;
  color: #000;
}

.btn-secondary {
  border: 2px solid #0842b0;
  background: transparent;
  color: #000;
  border-radius: 0.8rem;
  margin-right: 3.2rem;
  text-decoration: none;
  padding: 0.8rem 2.5rem;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.btn-secondary:hover {
  color: #fff;
  background: #0842b0;
}

.icon-cart {
  width: 100%;
  max-width: 25px;
  cursor: pointer;
}

.icon-cart svg:hover,
.icon-cart path:hover {
  fill: #0842b0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@-webkit-keyframes tripAnimation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes tripAnimation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.hero-section {
  background-color: #fee14f;
  position: relative;
  padding-top: 1.2rem;
  padding-bottom: 4.6rem;
}

.info-hero-section {
  padding-top: 12rem;
  padding-bottom: 10.2rem;
  z-index: 5;
}

.info-hero-section h1 {
  font-size: 6.2rem;
  color: #0842b0;
  line-height: 120%;
  max-width: 728px;
  margin-bottom: 2rem;
  font-weight: 700;
}

.info-hero-section p {
  font-weight: 400;
  color: #7a7a7a;
  font-size: 2.4rem;
  line-height: 120%;
  max-width: 624px;
  margin-bottom: 4rem;
}

.info-options-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-options-container .info-form-content {
  z-index: 5;
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem 3.8rem 2rem 0;
}

.info-options-container .info-form-content .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 3.2rem;
}

.info-options-container .info-form-content .option:nth-child(1) {
  padding-right: 3.5rem;
  border-right: 1px solid #545454;
}

.info-options-container .info-form-content .option:nth-child(2) {
  padding-right: 6.8rem;
  border-right: 1px solid #545454;
}

.info-options-container .info-form-content .option:nth-child(3) {
  padding-right: 2.8rem;
}

.info-options-container .info-form-content .option label {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #0842b0;
  font-weight: 700;
}

.info-options-container .info-form-content .option select {
  border: none;
  outline: none;
  margin-left: -3px;
  color: #545454;
  cursor: pointer;
}

.info-options-container .info-form-content .btn-reserv {
  background: #0842b0;
  outline: none;
  border: 2px solid #0842b0;
  padding: 0.8rem 3.6rem;
  color: #fff;
  border-radius: 7px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.info-options-container .info-form-content .btn-reserv:hover {
  background: transparent;
  border: 2px solid #0842b0;
  color: #000;
}

.scroll-bottom {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.scroll-bottom:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.slider-images {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  max-width: 900px;
}

.slider-images .swiper {
  width: 100%;
  height: 100%;
}

.slider-images .swiper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-images .swiper .swiper-slide .swiper-slide {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-images .swiper-pagination-bullet-active {
  background: #fff;
}

.slider-images .img-width {
  width: 100%;
  height: 100%;
}

.recent-trips-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 7.6rem;
}

.recent-trips-container .trips-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0842b0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.2rem 0 0.2rem 0.2rem;
  border: 2px solid #0842b0;
  border-radius: 50px;
  width: 24.9rem;
  max-width: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.recent-trips-container .trips-item-content:hover {
  cursor: pointer;
  background-color: transparent;
}

.recent-trips-container .trips-item-content:hover p {
  color: #000;
}

.recent-trips-container .trips-item-content p {
  text-align: center;
  width: 100%;
  color: #fff;
}

.destiny-container {
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.destiny-container h2 {
  font-size: 4rem;
  line-height: 120%;
  color: #0842b0;
}

.destiny-container .destiny-subtitle {
  font-size: 2.4rem;
  color: #7a7a7a;
  padding-top: 2rem;
  line-height: 120%;
}

.destiny-container .destiny-box-content {
  padding-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.destiny-container .destiny-box-item {
  position: relative;
  overflow: hidden !important;
}

.destiny-container .destiny-box-item .overlay {
  background-color: #000;
  width: 100%;
  position: absolute;
  height: 100%;
  border-radius: 10px;
  opacity: 0.5;
}

.destiny-container .destiny-box-item img {
  width: 100%;
  max-width: 58.4rem;
  height: 100%;
  border-radius: 10px;
}

.destiny-container .destiny-box-item .destiny-info {
  position: absolute;
  bottom: 2.7rem;
  left: 3.2rem;
  right: auto;
}

.destiny-container .destiny-box-item .destiny-info h4 {
  font-size: 2.4rem;
  color: #fff;
  line-height: 120%;
  font-weight: 700;
}

.destiny-container .destiny-box-item .destiny-info p {
  padding-top: 1rem;
  color: #e8e8e8;
  line-height: 150%;
  font-weight: 400;
  font-size: 1.6rem;
}

.destiny-container .destiny-box-item .destiny-info a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-top: 2rem;
  line-height: 150%;
  padding: 0.8rem 2.4rem;
  border: 2px solid #0842b0;
  background-color: #0842b0;
  width: 100%;
  max-width: 14.4rem;
  border-radius: 8px;
  text-align: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.destiny-container .destiny-box-item .destiny-info a:hover {
  background-color: transparent;
}

.tours {
  background-color: #f2f5fc;
  padding-top: 12rem;
  padding-bottom: 12rem;
  position: relative;
}

.tours .tours-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tours .tours-content .tours-title {
  color: #0842b0;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 120%;
}

.tours .tours-content .tours-subtitle {
  padding-top: 2rem;
  color: #7a7a7a;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 120%;
}

.tours .tours-content .tours-box-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4rem;
  gap: 3.2rem;
}

.tours .tours-content .tours-box-slide .tours-content-img img {
  width: 100%;
  max-width: 23.6rem;
  height: 100%;
}

.tours .tours-content-video {
  position: absolute;
  top: calc(50% + 1.5px);
  right: -20%;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
  width: calc(48% - 7px);
}

.tours .tours-content-video img {
  width: 100%;
  max-width: 49.7rem;
}
/*# sourceMappingURL=style.css.map */